body{
    padding: 0;
    margin: 0;
}

/* Estilos para todas las etiquetas div */
div {
    border: 1px solid #ccc; /* Agrega un borde gris a todas las divs */
    padding: 10px; /* Agrega un espacio interno de 10px a todas las divs */
    margin: 10px; /* Agrega un espacio externo de 10px a todas las divs */
    background-color: #f0f0f0; /* Cambia el fondo de todas las divs a gris claro */
}